<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="large text-muted">I used to play drums
    in a <a href="https://www.facebook.com/begowatts/">totally awesome
    band</a> and now I live out of a <a
    href="http://www.eigenspace.me">totally awesome van</a>. While I
    was with The Begowatts I designed
    posters/stickers/t-shirts/whatever and eventually found that I
    actually kind of liked it. I know that being in a poor-ass band
    can be a ton of un-glamorous work and I started Jacurutu
    Productions to help these people out. I don't claim to be an
    expert in design, but if you like what you see above then you'll
    hopefully find my work adequate and my prices reasonable.</p>
                </div>
            </div>
        </div>
    </section>