<!-- Services Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                </div>
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Posters</h2>
                    <br>
                </div>
            </div>
            <div class="row text-center">
              {% for poster in site.data.information.posters %}
                <div class="col-md-4">
                  <a href="img/posters/{{ poster.image }}">
                  <img src="img/posters/{{ poster.image }}" style="height:300px">
                  </a>
                  <h4 class="service-heading">{{ poster.title }}<h4>
                </div>
              {% endfor %}
           </div>
           <div class="row">
           <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Stickers</h2>
                <br>
           </div>
           </div>
           <div class="row text-center">
              {% for sticker in site.data.information.stickers %}
                <div class="col-md-4">
                  <a href="img/stickers/{{ sticker.image }}">
                  <img src="img/stickers/{{ sticker.image }}" style="height:300px">
                  </a>
                  <h4 class="service-heading">{{ sticker.title }}<h4>
                </div>
              {% endfor %}
           </div>
           <div class="row">
           <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Videos</h2>
                <br>
           </div>
           </div>
           <div class="row text-center">
              {% for movie in site.data.information.movies %}
                <div class="col-md-4">
                  <iframe height="300px" src="https://www.youtube.com/embed/{{ movie.ID }}" frameborder="0" allowfullscreen></iframe>
                  <h4 class="service-heading">{{ movie.title }}<h4>
                </div>
              {% endfor %}
           </div>
       </div>
    </section>